<!-- views/partials/header.ejs -->

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">AI Chatbot with web speech api</h5>
    <button id="start-button" type="button" class="btn btn-primary" onclick="startListending();">Start listening</button>
</div>